
.vscode/tasks.json
.vscode/launch.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/CrowEngine/v17/DocumentLayout.json
.vs/CrowEngine/v17/.wsuo
.vs/CrowEngine/FileContentIndex/2279d8b4-d688-4747-90ac-722573e6e98f.vsidx
SampleGame/.vs/SampleGame/v17/.suo
SampleGame/.vs/SampleGame/FileContentIndex/a48223d2-9cd2-4aaf-b756-09d2ec4671e9.vsidx
SampleGame/.vs/SampleGame/FileContentIndex/270af522-85e0-4b2a-b4ae-cef631289465.vsidx
SampleGame/.vs/SampleGame/FileContentIndex/1e04ec2b-15d5-4d8f-8730-91c52258a7b8.vsidx
SampleGame/.vs/SampleGame/DesignTimeBuild/.dtbcache.v2
SampleGame/.config/dotnet-tools.json
*.vsidx
