
.vscode/tasks.json
.vscode/launch.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/CrowEngine/v17/DocumentLayout.json
.vs/CrowEngine/v17/.wsuo
.vs/CrowEngine/FileContentIndex/2279d8b4-d688-4747-90ac-722573e6e98f.vsidx
SampleGame/.vs/SampleGame/v17/.suo
SampleGame/.vs/SampleGame/FileContentIndex/a48223d2-9cd2-4aaf-b756-09d2ec4671e9.vsidx
SampleGame/.vs/SampleGame/FileContentIndex/270af522-85e0-4b2a-b4ae-cef631289465.vsidx
SampleGame/.vs/SampleGame/FileContentIndex/1e04ec2b-15d5-4d8f-8730-91c52258a7b8.vsidx
SampleGame/.vs/SampleGame/DesignTimeBuild/.dtbcache.v2
SampleGame/.config/dotnet-tools.json
*.vsidx
/SampleGame/obj
/SampleGame/bin
/SampleGame/.vs
/SampleGame/bin
SampleGame/.vs/SampleGame/v17/DocumentLayout.json
SampleGame/bin/Debug/net8.0/Content/bin/DesktopGL/Content/Images/book bg.xnb
SampleGame/bin/Debug/net8.0/Content/Content.mgcb
SampleGame/bin/Debug/net8.0/Content/Images/book bg.png
SampleGame/bin/Debug/net8.0/Content/obj/DesktopGL/.mgcontent
SampleGame/bin/Debug/net8.0/Content/obj/DesktopGL/.mgstats
SampleGame/bin/Debug/net8.0/Content/obj/DesktopGL/Images/Square.mgcontent
SampleGame/bin/Debug/net8.0/Content/obj/DesktopGL/net6.0/Content/.mgcontent
SampleGame/bin/Debug/net8.0/Content/obj/DesktopGL/net6.0/Content/.mgstats
SampleGame/bin/Debug/net8.0/Content/obj/DesktopGL/net6.0/Content/Images/book bg.mgcontent
SampleGame/bin/Debug/net8.0/Content/obj/DesktopGL/net6.0/Content/Images/Square.mgcontent
SampleGame/bin/Debug/net8.0/CrowEngine.dll
SampleGame/bin/Debug/net8.0/CrowEngine.pdb
SampleGame/bin/Debug/net8.0/SampleGame.dll
SampleGame/bin/Debug/net8.0/SampleGame.exe
SampleGame/bin/Debug/net8.0/SampleGame.pdb
